<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- socket.io cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- nav.html을 첨부 ejs 파일에서만 가능 -->
    <%- include('nav.html') %>

    <div>채팅방</div>
    <input type="text" id="input1">
    <button id="send">서버에 메세지 보내기</button>
    <button id="room1">채팅방1 들어가기</button>
    <button id="room1_send">채팅방1에서 메세지 보내기</button>
    <div id="content"></div>

    <script>
        const socket = io();

        $('#send').click(function(){
            socket.emit('user_send', $('#input1').val())
        });

        socket.on('broadcast', function(data){
            console.log(data);
            $('#content').append(`<div>${data}</div>`);
        });

        $('#room1').click(function(){
            // socket으로 GET POST 요청 대체 가능
            socket.emit('joinroom', '채팅방입장해줘')
        });

        $('#room1_send').click(function(){
            socket.emit('room1_send', '반가워 채팅방1 사람들아')
        })
    </script>
  </body>
</html>